<h1>Add a new word</h1>

<form action="/words" method="post">
  <div class="form-group">
    <label for="word_name">Word</label>
    <input type="text" name="word_name" id="n" class="form-control">
    <!-- <label for="word_definition">Definition</label>
    <input type="text" name="word_definition" id="n1" class="form-control"> -->
  </div>
  <button type="submit" name='add_word' class="btn">Go!</button>
</form>
